@use "../../shared/styles/index.scss" as *;

.pageWrapper {
  margin: 50px 0;
}

.topTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  h2 {
    font-weight: 700;
    font-size: 36px;
    color: $primary-color;
  }
}

.taskContainer {
  margin-top: 40px;
}
