@forward "./theme.scss";
@use "./reset.scss";
@use "./fonts.scss";
@use "./breakpoints.scss" as breakpoints;

body {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f0f2f5;
  font-family: "Poppins", sans-serif;
}

.mr-20 {
  margin-right: 20px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flx-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flx-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.mt-50 {
  margin-top: 50px;
}

.cp {
  cursor: pointer;
}

.w-100 {
  width: 170px;
}
