@use "../../shared/styles/index.scss" as *;
@use "../../shared/styles/breakpoints.scss" as breakpoints;

.delete-modal {
  margin: 0 auto;
  max-width: 300px;
  p {
    font-size: 20px;
    font-weight: 600;
    color: $black;
    line-height: 1.5;
    text-align: center;
  }
  &__actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 25px;
    margin-top: 30px;
  }
  @include breakpoints.devices(sm) {
  }
}
